*{
    margin: 0;
    padding: 0;
}
.nav-list{
width: 80%;
/* background-color: tan; */
display: flex;
align-items: center;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 100%;
}

.nav-list li{
    list-style: none;
   padding: 26px 30px;
text-justify: auto;
}
.nav-list li a{
    text-decoration: none;
    color: black;
  
}
.navbar{
    display: flex;
    height: 60px;
    background-color:#fdfaf1;
}
.rightnav{
    width: 15%;
    flex-direction: row;
    background-color: blueviolet;
    display:flex;
    text-align: right; 
}
.login, .signup{
    padding: 15px;
    width: 100px;
}